<br>
<button type="button" class="btn btn-primary btn-lg btn-block">Edit Layway Purchase Info </button>

<%= render 'form', layrec: @layrec %><br>

<%= link_to 'See Invoice Details', @layrec, :class => "btn btn-outline-success" %>
<%= link_to 'Back to all Layaway Invoives', layrecs_path, :class => "btn btn-outline-danger" %>
