<br>
<button type="button" class="btn btn-primary btn-lg btn-block">New Customer Layway Purchase Info </button>

<%= render 'form', layrec: @layrec %>

<%= link_to 'Back to All Layway Invoices!', layrecs_path, :class => "btn btn-outline-success" %>
